.jsp_fillParent {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.jspwc_curtain {
    background-color: #000000;
    opacity: 0.5;
}
.jspwc_table {
    position: relative;
    margin: 20px auto 0;
    width: 800px;
    overflow: hidden;
    color: #333333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    border: 1px solid #5e5e5e;
    background-color: #ffffff;
    /*-webkit-border-radius: 4px;
       -moz-border-radius: 4px;
        -ms-border-radius: 4px;
            border-radius: 4px;*/
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
       -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}


.jspwc_row {
    height: 18px;
    line-height: 18px;
}

.jspwc_rightColumn {
    position: relative;
    margin-left: 199px;
    border-left: 1px solid #8e8e8e;
    background-color: #ffffff;
}

.jspwc_leftColumn {
    position: absolute;
    width: 199px;
    font-size: 12px;
}

.jspwc_header {
    position: relative;
    height: 36px;
    border-bottom: 1px solid #8e8e8e;
}

.jspwc_header .jspwc_rightColumn {
    height: 100%;
}

.jspwc_header .jspwc_leftColumn {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.jspwc_headerOverlays {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.jspwc_timelineOverviewBottomBorder {
    position: absolute;
    top: 17px;
    left: 0;
    right: 0;
    height: 0;
    border-bottom: 1px solid #8e8e8e;
}

.jspwc_headerButton {
    float: left;
    cursor: pointer;
    background: #ffffff 50% no-repeat;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #999999;
    width: 17px;
    height: 17px;
}

.jspwc_closeHandle {
    background-size: 10px 10px;
    background-image: url("images/close-handle-icon.png");
}

.jspwc_maximizeHandle {
    background-size: 12px 12px;
    background-image: url("images/maximize-handle-icon.png");
}

.jspwc_minimizeHandle {
    background-size: 12px 12px;
    background-image: url("images/minimize-handle-icon.png");
}

.jspwc_moveHandle {
    background-size: 12px 12px;
    background-image: url("images/move-handle-icon.png");
    cursor: move;
}

.jspwc_headerRow {
    position: relative;
    margin-left: 20px;
    height: 18px;
}

.jspwc_timelineOverviewShadowOverlay {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.jspwc_timelineOverviewHandle {
    position: absolute;
    height: 100%;
    width: 5px;
    background-color: #999999;
    border: 1px solid #333333;
    border-radius: 2px;
    cursor: ew-resize;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.jspwc_timelineOverviewGuide {
    position: absolute;
    top: 100%;
    height: 100%;
    width: 1px;
    background-color: #666666;
    z-index: 1;
}

.jspwc_timelineOverviewLeftShadowOverlay {
    left: -20px;
}

.jspwc_timelineOverviewRightShadowOverlay {
    right: 0;
}

.jspwc_timelineOverviewLeftShadowOverlay .jspwc_timelineOverviewHandle {
    right: -2px;
}

.jspwc_timelineOverviewRightShadowOverlay .jspwc_timelineOverviewHandle {
    left: -2px;
}

.jspwc_timelineOverviewLeftShadowOverlay .jspwc_timelineOverviewGuide {
    right: 0;
}

.jspwc_timelineOverviewRightShadowOverlay .jspwc_timelineOverviewGuide {
    left: 0;
}

.jspwc_timelineOverviewMoveHandle {
    position: absolute;
    top: 0;
    height: 100%;
    cursor: move;
}

.jspwc_body {
    position: relative;
}

.jspwc_bodyOverlays {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 200px;
    right: 0;
    overflow: hidden;
}

.jspwc_timeline {
    position: absolute;
    z-index: 3;
    opacity: 0.8;
    left: 0;
    top: 0;
    background-color: #fefefe;
    border-bottom: 1px solid #8e8e8e;
}

.jspwc_gridlinesContainer {
    position: absolute;
    left: 20px;
    bottom: 0;
}

.jspwc_headerGridlinesContainer {
    top: 0;
}

.jspwc_timelineGridlinesContainer {
    top: 0;
    right: 5px;
}

.jspwc_recordGridlinesContainer {
    top: 19px;
    z-index: 1;
}

.jspwc_recordGridline {
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.jspwc_gridlineLabel {
    position: absolute;
    font-size: 10px;
    color: #666666;
    white-space: nowrap;
    right: 5px;
}

.jspwc_resizeHandle {
    position: absolute;
    bottom: 1px;
    right: 1px;
    z-index: 1;
    background: url("images/resize-handle-icon.png") no-repeat;
    background-size: 100%;
    cursor: nwse-resize;
}

.jspwc_scrollView {
    position: relative;
    height: 400px;
    overflow-y: scroll;
    overflow-x: auto;
}

/***** left column *****/

.jspwc_recordNamesHeader {
    font-weight: bold;
    color: #5c6e81;
    height: 19px;
    line-height: 19px;
    background-color: #d5dde5;
}

.jspwc_recordNamesBackground {
    background-color: #d5dde5;
}

.jspwc_recordNamesBackground .jspwc_row:nth-child(odd) {
    background-color: #cad1d9;
}

.jspwc_recordNames {
    position: absolute;
    left: 0;
    top: 19px;
}

.jspwc_leftColumn .jspwc_row {
    padding: 0 10px;
}

/***** right column *****/

.jspwc_body .jspwc_rightColumn {
    overflow: hidden;
    min-height: 100%;
}

.jspwc_recordRowsBackground {
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    padding-top: 19px;
}

.jspwc_recordRowsBackground .jspwc_row:nth-child(odd) {
    background-color: #f2f2f2;
}

.jspwc_records {
    position: relative;
    z-index: 2;
    padding: 19px 5px 0 20px;
}

.jspwc_recordContainer {
    position: relative;
}

.jspwc_record {
    margin-right: auto;
}

.jspwc_containmentTools {
    position: absolute;
    top: 0;
    bottom: 0;
}

.jspwc_recordBracket {
    position: absolute;
    left: -16px;
    top: 0;
    bottom: 0;
    width: 2px;
    border: 1px solid #a3a3a3;
    border-right: none;
}

.jspwc_foldHandleFolded {
    position: absolute;
    left: -12px;
    top: 4px;
    width: 0;
    height: 0;
    border-left: 8px solid #888888;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    cursor: pointer;
}

.jspwc_foldHandleUnfolded {
    position: absolute;
    left: -13px;
    top: 5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #888888;
    cursor: pointer;
}

.jspwc_recordBarsContainer {
    height: 18px;
}

.jspwc_recordBar {
    position: absolute;
    top: 4px;
    height: 10px;
    border: 1px solid #dca92e;
    background-color: #f5c34f;
    min-width: 5px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.jspwc_recordBar.jspwc_cpuTimeOverviewRecordBar {
    min-width: 1px;
}

.jspwc_recordBar.jspwc_selfRecordBar {
    
}

.jspwc_recordBar.jspwc_asyncRecordBar {
    opacity: 0.3;
}

.jspwc_recordBar.jspwc_childRecordBar {
    opacity: 0.6;
}