.jsp_fillParent {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.jsp_wc_curtain {
    background-color: #000000;
    opacity: 0.5;
}
.jsp_wc_table {
    position: relative;
    margin: 20px auto 0;
    width: 800px;
    overflow: hidden;
    color: #333333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    border: 1px solid #5e5e5e;
    background-color: #ffffff;
    /*-webkit-border-radius: 4px;
       -moz-border-radius: 4px;
        -ms-border-radius: 4px;
            border-radius: 4px;*/
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
       -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}


.jsp_wc_row {
    height: 18px;
    line-height: 18px;
}

.jsp_wc_timelineOverview {
    border-bottom: 1px solid #8e8e8e;
}

.jsp_wc_timeline {
    position: absolute;
    z-index: 1;
    opacity: 0.8;
    left: 200px;
    right: 0;
    top: 19px;
    background-color: #fefefe;
    border-bottom: 1px solid #8e8e8e;
}

.jsp_wc_scrollView {
    position: relative;
    z-index: 0;
    height: 400px;
    overflow: auto;
}

/***** left column *****/

.jsp_wc_leftColumn {
    position: absolute;
    width: 199px;
    font-size: 12px;
    background-color: #d5dde5;
}

.jsp_wc_recordNamesHeader {
    font-weight: bold;
    color: #5c6e81;
}

.jsp_wc_recordNamesBackground .jsp_wc_row:nth-child(odd) {
    background-color: #cad1d9;
}

.jsp_wc_recordNames {
    position: absolute;
    left: 0;
    top: 18px;
}

.jsp_wc_leftColumn .jsp_wc_row {
    padding: 0 10px;
}

/***** right column *****/

.jsp_wc_rightColumn {
    margin-left: 199px;
    border-left: 1px solid #8e8e8e;
    background-color: #ffffff;
    position: relative;
}

.jsp_wc_recordsBackground {
    padding-top: 18px;
}

.jsp_wc_recordsBackground .jsp_wc_row:nth-child(odd) {
    background-color: #f2f2f2;
}

.jsp_wc_records {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 18px;
}

.jsp_wc_recordContainer {
    position: relative;
}

.jsp_wc_record {
    margin-right: auto;
}

.jsp_wc_containmentTools {
    position: absolute;
    top: 0;
    bottom: 0;
}

.jsp_wc_recordBracket {
    position: absolute;
    left: -16px;
    top: 0;
    bottom: 0;
    width: 2px;
    border: 1px solid #a3a3a3;
    border-right: none;
}

.jsp_wc_foldHandleFolded {
    position: absolute;
    left: -12px;
    top: 4px;
    width: 0;
    height: 0;
    border-left: 8px solid #888888;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    cursor: pointer;
}

.jsp_wc_foldHandleUnfolded {
    position: absolute;
    left: -13px;
    top: 5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #888888;
    cursor: pointer;
}

.jsp_wc_recordBarsContainer {
    height: 18px;
}

.jsp_wc_recordBar {
    position: absolute;
    top: 4px;
    height: 10px;
    border: 1px solid #dca92e;
    background-color: #f5c34f;
    min-width: 5px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.jsp_wc_recordBar.jsp_wc_selfRecordBar {
    
}

.jsp_wc_recordBar.jsp_wc_asyncRecordBar {
    opacity: 0.3;
}

.jsp_wc_recordBar.jsp_wc_childRecordBar {
    opacity: 0.6;
}